body 
{
	PADDING-LEFT: 5px; /* marge interieure-->*/
	PADDING-RIGHT: 5px; 
	PADDING-TOP: 10px; 
	PADDING-BOTTOM: 10px;
	width: auto;	
	BACKGROUND-COLOR: #E8E8E8;
	MARGIN: 0px; 
	TEXT-ALIGN: center;  
	FONT-FAMILY: "Times new roman, Times, Helvetica, Arial, Verdana, sans-serif"
}

header
{
	padding: 0px;
	BACKGROUND-COLOR: #8b684d; 
	WIDTH: 100%; 
	MARGIN: auto;
}
.header0 
{ 
	WIDTH: 33%; 
	height: 170px;
	BACKGROUND-COLOR: #8b684d; 
	background-image: url(images/titretamaris.jpg);
	background-position:;
	background-repeat: no-repeat; 
	TEXT-ALIGN: center;
	white-space: nowrap 
}
.header1 { 
	WIDTH: 600px; 
	height: 170px;
	BACKGROUND-COLOR: #8b684d; 
	background-image: url(images/imagetamaris.jpg);
	background-position:center;
	background-repeat: no-repeat; 
	FONT-FAMILY: "Verdana, Tempus Sans ITC, Arial, Helvetica, sans-serif";
	TEXT-ALIGN: center;
}
.header2 
{ 
	WIDTH: 33%; 
	height: auto;
	BACKGROUND-COLOR: #8b684d; 
	background-image: url(images/coordonnee.jpg);
	background-position:center;
	background-repeat: no-repeat; 
	white-space: nowrap; 
	COLOR: #663300 
}

.container {
 
	BORDER: 0px solid #760001;
	padding: 5px;
	BACKGROUND-COLOR: #c2ffc1; 
	WIDTH: 1220px; 

	MARGIN: auto; 
}
.container1 {
 
	BORDER-top: 1px solid #760001; 
	padding: 5px;
	BACKGROUND-COLOR: #c2ffc1; 
	WIDTH: 1220px; 
	min-width: 1220px;
	MARGIN:auto; 
	}
.entetenav
{
	text-align:center;
	background-color:#8b684d;
	width: 100%;
	height:10px;
}
.cln25 
{
	color : black;
	height: 100%; 
	width: 25%;
}
.cln33{
	color : black;
	height: 100%; 
	width: 33%;
	FONT-SIZE: 10px; 
	FONT-FAMILY: "Tempus Sans ITC";	
	TEXT-ALIGN: left;	
	font-style: italic ;
	font-weight: bold;
	border: 0px solid #760001;
}
.marquise{ 
	overflow-style: auto;
	marquee-direction: reverse;
	marquee-speed: slow;
	marquee-style: slide;
	marquee-play-count: infinite;
	color : black;
 font-size : 1em ;
 font-family :  Verdana,"comic sans ms" , " Arial Black ", Arial , Impact  , serif ;

}	


nav
{
 display : inline-block ;
 width : 100% ;
 background : url(" images/separateur.png ")repeat-x bottom ;
}
nav a
{
font-size :1.3em;
color : #0d6a14;
padding-bottom : 0px;
text-decoration : none;
font-style : italic ;
}
nav a:hover
{
color : #760001;
border-bottom : 1px solid #760001;
}
nav ul {
LIST-STYLE: none; 
}
nav li {
display : inline-block ;
margin-right : 70px ;
}


		
/* Fix IE.8 bugs  \*/
* html #navlist ul li { float: left; height: 27px; 	WIDTH: 159px }  /* 157 for FF, 159 for IE */
/* html #navlist a { height: 27px; WIDTH: 100%; } */

p
{
color : black;
 font-size : 1em ;
 font-family :  Verdana,"comic sans ms" , " Arial Black ", Arial , Impact  , serif ;
 text-align : justify ;
 border : 0px solid green ;
 border-radius : 0px ;
}

/************************************/

.style4
{ 
color : black;
 font-size : 1.3em ;
 font-family :  Verdana,"comic sans ms" , " Arial Black ", Arial , Impact  , serif ;
 border : 0px solid green ;
 }
.style5 { 
color : black;
padding: 30px;
text-align: left;
 font-size : 1em ;
 font-family :  Verdana,"comic sans ms" , " Arial Black ", Arial , Impact  , serif ;
 border-radius : 0px ;
 vertical-align: top;
  border: 0px green outset;
 }
.style6 { 
color : black;
text-align: left;
 font-size : 1em ;
 font-family :  Verdana,"comic sans ms" , " Arial Black ", Arial , Impact  , serif ;
 border-radius : 0 ;
 vertical-align: center;
 border: 0px green outset;
 }
.style7 { 
 color : #0d6a14;
 text-align: left;
 font-size : 1em ;
 font-family :  Verdana,"comic sans ms" , " Arial Black ", Arial , Impact  , serif ;
 border-radius : 0 ;
 vertical-align: top;
 BACKGROUND-COLOR: #c2ffc1;
 }
.style8 { 
color : black;
text-align: left;
font-size : 0.8em ;
font-family :  Verdana,"comic sans ms" , " Arial Black ", Arial , Impact  , serif ;
border-radius : 0px ;
vertical-align: top;
border: 0px green outset;
  }
.style9 
{ 
color : #0d6a14;
padding: 20px;
font-style: italic;
font-weight : bold ;
text-align: CENTER;
font-size : 1em ;
font-family :  Verdana,"comic sans ms" , " Arial Black ", Arial , Impact  , serif ;
border-radius : 0 ;
vertical-align: top;
BACKGROUND-COLOR: #c2ffc1;
}
.style1 { FONT-SIZE: 10px; FONT-FAMILY: "Tempus Sans ITC";	TEXT-ALIGN: left;	font-style: italic;}
.style11 { color : black;
padding: 10px;
text-align: center;
 font-size : 1em ;
 font-family :  Verdana,"comic sans ms" , " Arial Black ", Arial , Impact  , serif ;
 border-radius : 0px ;
 vertical-align: top;
  border: 0px green outset; }
.style13 { FONT-SIZE: 20px; text-align: left }
.style14 { FONT-FAMILY: "Tempus Sans ITC" }
.style16 { FONT-SIZE: 18px; FONT-FAMILY: "Arial,Tahoma,Verdana,sans-serif";	TEXT-ALIGN: center }

/.photos
{
margin: 5px;
padding: 5px;
border: 0px green outset;/
}
strong
{
font-weight : bold ;
}
.lettrine 
{ 
  float:left;
  color:black;
  background-color:#c2ffc1;
  padding-right:-10px;
  padding-left:0px;
  margin-right:0px;
  }
   .deskueber {
  border: none;
  font-family: Garamond, TimesNewRoman, Times, serif;
  font-weight: bold;
  font-size: 20pt;
  font-variant: small-caps;
  letter-spacing: 1pt;
  color: #660000;
  width:100%;
}

 .deskklein {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 10pt;
  letter-spacing: 0.3pt;
  color: #331111;
  text-decoration: none;
}

.thumbnail { 
  border-width: 1px; 
  border-style: solid; 
  border-color: black; 
}
